[Unit]

Description=My Service

After=network-online.target

[Service]

ExecStart=/usr/bin/bash -u start.sh

WorkingDirectory=/home/pi

StandardOutput=inherit

StandardError=inherit

Restart=always

User=pi

[Install]

WantedBy=multi-user.target
